.button {
  padding: 0.5rem 2rem;
  color: black;
  font-size: 1.5rem;
  width: fit-content;
  margin: 5rem auto;
  background: linear-gradient(135deg, transparent 0px, #ec0c5e 0) top left, linear-gradient(-135deg, transparent 10px, #ec0c5e 0) top right, linear-gradient(-45deg, transparent 0px, #ec0c5e 0) bottom right, linear-gradient(45deg, transparent 10px, #ec0c5e 0) bottom left;
  background-size: 51% 50%;
  background-repeat: no-repeat;
}

.button .all {
  display: flex;
  justify-content: center;
  width: 100%;
}

.worksBox {
  display: grid;
  grid-template-rows: 0fr;
  transition: 500ms grid-template-rows ease;
}

.worksBox .hidden {
  overflow: hidden;
}

.open {
  grid-template-rows: 1fr;
}

@keyframes open {
  0% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
