.contactSec {
  display: flex;
  flex-flow: column;
  padding: 4rem 0;
  /* margin: 0 auto; */
}

.contactSec .contactBox {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 600px) {
  .contactSec .contactBox {
    flex-wrap: wrap;
  }
}

.contactSec .contactBox .twitter {
  width: 100%;
  height: 500px;
}

@media (max-width: 600px) {
  .contactSec .contactBox .twitter {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}

.contactSec .contactBox .twitter iframe {
  max-width: 100%;
  height: 100%;
}

.contactSec .contactBox .form {
  width: 100%;
  height: 500px;
}

.contactSec .contactBox .form iframe {
  width: 100%;
  height: 100%;
}
