body {
  margin: 0;
}

.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}

@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 19.06144%, 100% 19.06144%, 100% 22.48254%, 0% 22.48254%);
    transform: translate(-1.6085%, 0.20073%);
  }
  2% {
    clip-path: polygon(0% 32.03415%, 100% 32.03415%, 100% 41.90819%, 0% 41.90819%);
    transform: translate(-3.42682%, 0.31369%);
  }
  4% {
    clip-path: polygon(0% 75.83421%, 100% 75.83421%, 100% 80.00778%, 0% 80.00778%);
    transform: translate(-6.31488%, -0.29761%);
  }
  6% {
    clip-path: polygon(0% 69.55945%, 100% 69.55945%, 100% 76.63961%, 0% 76.63961%);
    transform: translate(5.70162%, -0.39125%);
  }
  8% {
    clip-path: polygon(0% 31.77159%, 100% 31.77159%, 100% 34.95238%, 0% 34.95238%);
    transform: translate(-6.3069%, 0.37544%);
  }
  10% {
    clip-path: polygon(0% 77.0715%, 100% 77.0715%, 100% 78.54298%, 0% 78.54298%);
    transform: translate(2.45847%, 0.39446%);
  }
  12% {
    clip-path: polygon(0% 38.59327%, 100% 38.59327%, 100% 43.10074%, 0% 43.10074%);
    transform: translate(-4.35078%, 0.45916%);
  }
  14% {
    clip-path: polygon(0% 48.16471%, 100% 48.16471%, 100% 53.78387%, 0% 53.78387%);
    transform: translate(-0.06729%, -0.27096%);
  }
  16% {
    clip-path: polygon(0% 67.26837%, 100% 67.26837%, 100% 70.77295%, 0% 70.77295%);
    transform: translate(-6.65817%, 0.40399%);
  }
  18% {
    clip-path: polygon(0% 82.24037%, 100% 82.24037%, 100% 86.33108%, 0% 86.33108%);
    transform: translate(1.73832%, -0.39069%);
  }
  20%,
  100% {
    clip-path: none;
    transform: none;
  }
}

.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}

@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 50.23104%, 100% 50.23104%, 100% 59.61939%, 0% 59.61939%);
    transform: translate(3.17459%, 0.23203%);
  }
  2% {
    clip-path: polygon(0% 32.88901%, 100% 32.88901%, 100% 37.96371%, 0% 37.96371%);
    transform: translate(3.08429%, -0.05438%);
  }
  4% {
    clip-path: polygon(0% 65.62309%, 100% 65.62309%, 100% 67.62927%, 0% 67.62927%);
    transform: translate(-0.42306%, -0.1712%);
  }
  6% {
    clip-path: polygon(0% 78.12297%, 100% 78.12297%, 100% 83.84797%, 0% 83.84797%);
    transform: translate(7.87727%, 0.40421%);
  }
  8% {
    clip-path: polygon(0% 61.46973%, 100% 61.46973%, 100% 65.60313%, 0% 65.60313%);
    transform: translate(-2.47871%, 0.02135%);
  }
  10% {
    clip-path: polygon(0% 19.69072%, 100% 19.69072%, 100% 29.07832%, 0% 29.07832%);
    transform: translate(1.10934%, -0.34189%);
  }
  12% {
    clip-path: polygon(0% 15.20472%, 100% 15.20472%, 100% 22.93203%, 0% 22.93203%);
    transform: translate(6.19229%, 0.04974%);
  }
  14% {
    clip-path: polygon(0% 32.32812%, 100% 32.32812%, 100% 37.68008%, 0% 37.68008%);
    transform: translate(6.61141%, 0.1049%);
  }
  16% {
    clip-path: polygon(0% 27.2094%, 100% 27.2094%, 100% 34.88425%, 0% 34.88425%);
    transform: translate(-3.01027%, 0.42194%);
  }
  18% {
    clip-path: polygon(0% 50.55725%, 100% 50.55725%, 100% 58.62576%, 0% 58.62576%);
    transform: translate(-1.54789%, -0.42011%);
  }
  20%,
  100% {
    clip-path: none;
    transform: none;
  }
}

.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}

@keyframes rgb-shift-r {
  0% {
    transform: translate(1.80274%, -0.20028%);
  }
  2% {
    transform: translate(-0.49461%, 0.41963%);
  }
  4% {
    transform: translate(-1.99497%, 0.17461%);
  }
  6% {
    transform: translate(0.7178%, -0.26313%);
  }
  8% {
    transform: translate(0.78483%, -0.42507%);
  }
  10% {
    transform: translate(0.61445%, -0.24293%);
  }
  12% {
    transform: translate(0.45923%, -0.27041%);
  }
  14% {
    transform: translate(-0.21729%, 0.4545%);
  }
  16% {
    transform: translate(1.90994%, 0.12482%);
  }
  18% {
    transform: translate(1.0395%, 0.40775%);
  }
  20%,
  100% {
    transform: none;
  }
}

.glitch .r::before {
  background: #f00;
}

.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}

@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.27063%, 0.13887%);
  }
  2% {
    transform: translate(0.5338%, -0.12516%);
  }
  4% {
    transform: translate(-0.82451%, 0.40411%);
  }
  6% {
    transform: translate(1.71696%, -0.16045%);
  }
  8% {
    transform: translate(-0.39612%, -0.33425%);
  }
  10% {
    transform: translate(1.00293%, -0.39372%);
  }
  12% {
    transform: translate(1.54798%, 0.36607%);
  }
  14% {
    transform: translate(1.58384%, 0.29807%);
  }
  16% {
    transform: translate(0.74486%, -0.20441%);
  }
  18% {
    transform: translate(-1.26351%, 0.12273%);
  }
  20%,
  100% {
    transform: none;
  }
}

.glitch .g::before {
  background: #0f0;
}

.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}

@keyframes rgb-shift-b {
  0% {
    transform: translate(1.78665%, -0.35941%);
  }
  2% {
    transform: translate(-1.34514%, -0.46541%);
  }
  4% {
    transform: translate(-1.19021%, 0.32782%);
  }
  6% {
    transform: translate(-1.50195%, -0.4431%);
  }
  8% {
    transform: translate(1.3182%, -0.12185%);
  }
  10% {
    transform: translate(0.0598%, -0.0321%);
  }
  12% {
    transform: translate(-0.36977%, 0.081%);
  }
  14% {
    transform: translate(-0.37907%, -0.15571%);
  }
  16% {
    transform: translate(0.12923%, 0.34558%);
  }
  18% {
    transform: translate(-1.53026%, -0.06136%);
  }
  20%,
  100% {
    transform: none;
  }
}

.glitch .b::before {
  background: #00f;
}

.glitchText {
  color: white;
  position: relative;
  width: fit-content;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(39px, 9999px, 93px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 24px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(19px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(60px, 9999px, 50px, 0);
  }
  25% {
    clip: rect(10px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(31px, 9999px, 8px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 21px, 0);
  }
  40% {
    clip: rect(15px, 9999px, 18px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 4px, 0);
  }
  55% {
    clip: rect(98px, 9999px, 9px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 80px, 0);
  }
  65% {
    clip: rect(85px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 49px, 0);
  }
  75% {
    clip: rect(61px, 9999px, 29px, 0);
  }
  80% {
    clip: rect(60px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(57px, 9999px, 72px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(78px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(47px, 9999px, 67px, 0);
  }
}

.glitchText:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(12px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 48px, 0);
  }
  10% {
    clip: rect(77px, 9999px, 17px, 0);
  }
  15% {
    clip: rect(41px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 51px, 0);
  }
  30% {
    clip: rect(90px, 9999px, 89px, 0);
  }
  35% {
    clip: rect(3px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 53px, 0);
  }
  45% {
    clip: rect(11px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 2px, 0);
  }
  55% {
    clip: rect(48px, 9999px, 81px, 0);
  }
  60% {
    clip: rect(18px, 9999px, 57px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 81px, 0);
  }
  70% {
    clip: rect(94px, 9999px, 23px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 73px, 0);
  }
  80% {
    clip: rect(80px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(41px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(35px, 9999px, 59px, 0);
  }
  95% {
    clip: rect(50px, 9999px, 46px, 0);
  }
  100% {
    clip: rect(65px, 9999px, 49px, 0);
  }
}

.glitchText:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
