@charset "UTF-8";
.loading_bg {
  width: 100%;
  height: 100vh;
  background-color: #323133;
  position: fixed;
  z-index: 200;
  padding: 1rem;
}
.loading_bg:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 2px, transparent 5px);
  background-size: 100% 5px;
  animation: lines 2s ease-out infinite;
  opacity: 0.3;
  mix-blend-mode: color-burn;
  pointer-events: none;
}
.loading_bg .semipolar-spinner,
.loading_bg .semipolar-spinner * {
  box-sizing: border-box;
}
.loading_bg .semipolar-spinner {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}
.loading_bg .semipolar-spinner .ring {
  border-radius: 50%;
  position: absolute;
  border: 3.25px solid transparent;
  border-top-color: #ff1d5e;
  border-left-color: #ff1d5e;
  animation: semipolar-spinner-animation 2s infinite;
}
.loading_bg .semipolar-spinner .ring:nth-child(1) {
  height: 65px;
  width: 65px;
  top: 0px;
  left: 0px;
  animation-delay: 800ms;
  z-index: 5;
}
.loading_bg .semipolar-spinner .ring:nth-child(2) {
  height: 52px;
  width: 52px;
  top: 6.5px;
  left: 6.5px;
  animation-delay: 600ms;
  z-index: 4;
}
.loading_bg .semipolar-spinner .ring:nth-child(3) {
  height: 39px;
  width: 39px;
  top: 13px;
  left: 13px;
  animation-delay: 400ms;
  z-index: 3;
}
.loading_bg .semipolar-spinner .ring:nth-child(4) {
  height: 26px;
  width: 26px;
  top: 19.5px;
  left: 19.5px;
  animation-delay: 200ms;
  z-index: 2;
}
.loading_bg .semipolar-spinner .ring:nth-child(5) {
  height: 13px;
  width: 13px;
  top: 26px;
  left: 26px;
  animation-delay: 0ms;
  z-index: 1;
}
@keyframes semipolar-spinner-animation {
  50% {
    transform: rotate(360deg) scale(0.7);
  }
}

.active {
  display: none;
}

body {
  margin: 0;
}

.glitch {
  background: #000 no-repeat center;
  background-size: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    -webkit-clip-path: polygon(0% 6.2689236819%, 100% 6.2689236819%, 100% 10.3800389383%, 0% 10.3800389383%);
            clip-path: polygon(0% 6.2689236819%, 100% 6.2689236819%, 100% 10.3800389383%, 0% 10.3800389383%);
    transform: translate(1.0946175468%, -0.3946610899%);
  }
  2% {
    -webkit-clip-path: polygon(0% 2.1679603695%, 100% 2.1679603695%, 100% 5.022040739%, 0% 5.022040739%);
            clip-path: polygon(0% 2.1679603695%, 100% 2.1679603695%, 100% 5.022040739%, 0% 5.022040739%);
    transform: translate(3.5659380823%, 0.294971618%);
  }
  4% {
    -webkit-clip-path: polygon(0% 78.2889676753%, 100% 78.2889676753%, 100% 81.5022494902%, 0% 81.5022494902%);
            clip-path: polygon(0% 78.2889676753%, 100% 78.2889676753%, 100% 81.5022494902%, 0% 81.5022494902%);
    transform: translate(-0.3879364017%, -0.2633264681%);
  }
  6% {
    -webkit-clip-path: polygon(0% 38.1074004761%, 100% 38.1074004761%, 100% 40.3901942481%, 0% 40.3901942481%);
            clip-path: polygon(0% 38.1074004761%, 100% 38.1074004761%, 100% 40.3901942481%, 0% 40.3901942481%);
    transform: translate(-7.615764035%, 0.3135046894%);
  }
  8% {
    -webkit-clip-path: polygon(0% 7.7159725144%, 100% 7.7159725144%, 100% 12.0342508841%, 0% 12.0342508841%);
            clip-path: polygon(0% 7.7159725144%, 100% 7.7159725144%, 100% 12.0342508841%, 0% 12.0342508841%);
    transform: translate(-2.9016988724%, 0.1870507747%);
  }
  10% {
    -webkit-clip-path: polygon(0% 66.6783027475%, 100% 66.6783027475%, 100% 76.332756863%, 0% 76.332756863%);
            clip-path: polygon(0% 66.6783027475%, 100% 66.6783027475%, 100% 76.332756863%, 0% 76.332756863%);
    transform: translate(-1.5533958923%, 0.127262973%);
  }
  12% {
    -webkit-clip-path: polygon(0% 31.6537958919%, 100% 31.6537958919%, 100% 35.0955274339%, 0% 35.0955274339%);
            clip-path: polygon(0% 31.6537958919%, 100% 31.6537958919%, 100% 35.0955274339%, 0% 35.0955274339%);
    transform: translate(-6.1176280872%, 0.1549791547%);
  }
  14% {
    -webkit-clip-path: polygon(0% 34.2358481847%, 100% 34.2358481847%, 100% 41.7042220769%, 0% 41.7042220769%);
            clip-path: polygon(0% 34.2358481847%, 100% 34.2358481847%, 100% 41.7042220769%, 0% 41.7042220769%);
    transform: translate(-5.8491364348%, -0.2770618589%);
  }
  16% {
    -webkit-clip-path: polygon(0% 26.5656529007%, 100% 26.5656529007%, 100% 33.1891422029%, 0% 33.1891422029%);
            clip-path: polygon(0% 26.5656529007%, 100% 26.5656529007%, 100% 33.1891422029%, 0% 33.1891422029%);
    transform: translate(-5.0738048948%, 0.3404134987%);
  }
  18% {
    -webkit-clip-path: polygon(0% 68.5999012807%, 100% 68.5999012807%, 100% 70.6368347425%, 0% 70.6368347425%);
            clip-path: polygon(0% 68.5999012807%, 100% 68.5999012807%, 100% 70.6368347425%, 0% 70.6368347425%);
    transform: translate(1.3996587413%, 0.4083769785%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    -webkit-clip-path: polygon(0% 42.6188129216%, 100% 42.6188129216%, 100% 46.6122515228%, 0% 46.6122515228%);
            clip-path: polygon(0% 42.6188129216%, 100% 42.6188129216%, 100% 46.6122515228%, 0% 46.6122515228%);
    transform: translate(-1.405038315%, -0.3139274032%);
  }
  2% {
    -webkit-clip-path: polygon(0% 6.8828308739%, 100% 6.8828308739%, 100% 13.0921031287%, 0% 13.0921031287%);
            clip-path: polygon(0% 6.8828308739%, 100% 6.8828308739%, 100% 13.0921031287%, 0% 13.0921031287%);
    transform: translate(6.009701547%, 0.2284593351%);
  }
  4% {
    -webkit-clip-path: polygon(0% 81.0273964572%, 100% 81.0273964572%, 100% 90.261757439%, 0% 90.261757439%);
            clip-path: polygon(0% 81.0273964572%, 100% 81.0273964572%, 100% 90.261757439%, 0% 90.261757439%);
    transform: translate(-5.0398003823%, -0.3640751952%);
  }
  6% {
    -webkit-clip-path: polygon(0% 52.1224730113%, 100% 52.1224730113%, 100% 54.0020548408%, 0% 54.0020548408%);
            clip-path: polygon(0% 52.1224730113%, 100% 52.1224730113%, 100% 54.0020548408%, 0% 54.0020548408%);
    transform: translate(-4.7676663478%, 0.4179533423%);
  }
  8% {
    -webkit-clip-path: polygon(0% 88.1212857524%, 100% 88.1212857524%, 100% 92.3064178539%, 0% 92.3064178539%);
            clip-path: polygon(0% 88.1212857524%, 100% 88.1212857524%, 100% 92.3064178539%, 0% 92.3064178539%);
    transform: translate(4.332941811%, -0.2878139421%);
  }
  10% {
    -webkit-clip-path: polygon(0% 2.1314652154%, 100% 2.1314652154%, 100% 9.827351708%, 0% 9.827351708%);
            clip-path: polygon(0% 2.1314652154%, 100% 2.1314652154%, 100% 9.827351708%, 0% 9.827351708%);
    transform: translate(4.0265721681%, 0.1682464876%);
  }
  12% {
    -webkit-clip-path: polygon(0% 40.7670031344%, 100% 40.7670031344%, 100% 45.267475512%, 0% 45.267475512%);
            clip-path: polygon(0% 40.7670031344%, 100% 40.7670031344%, 100% 45.267475512%, 0% 45.267475512%);
    transform: translate(2.7811369606%, 0.1486146943%);
  }
  14% {
    -webkit-clip-path: polygon(0% 11.1440751142%, 100% 11.1440751142%, 100% 20.2752414934%, 0% 20.2752414934%);
            clip-path: polygon(0% 11.1440751142%, 100% 11.1440751142%, 100% 20.2752414934%, 0% 20.2752414934%);
    transform: translate(-2.6956965018%, 0.0806349698%);
  }
  16% {
    -webkit-clip-path: polygon(0% 54.6930029763%, 100% 54.6930029763%, 100% 59.5713563842%, 0% 59.5713563842%);
            clip-path: polygon(0% 54.6930029763%, 100% 54.6930029763%, 100% 59.5713563842%, 0% 59.5713563842%);
    transform: translate(2.0280157752%, 0.2086967804%);
  }
  18% {
    -webkit-clip-path: polygon(0% 16.4825309623%, 100% 16.4825309623%, 100% 20.9784653002%, 0% 20.9784653002%);
            clip-path: polygon(0% 16.4825309623%, 100% 16.4825309623%, 100% 20.9784653002%, 0% 20.9784653002%);
    transform: translate(5.0328533432%, 0.3172280056%);
  }
  20%, 100% {
    -webkit-clip-path: none;
            clip-path: none;
    transform: none;
  }
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(1.2466561089%, -0.3838702022%);
  }
  2% {
    transform: translate(1.6238275573%, 0.090800842%);
  }
  4% {
    transform: translate(-1.7828111283%, -0.1105172665%);
  }
  6% {
    transform: translate(-0.0570673607%, -0.19609066%);
  }
  8% {
    transform: translate(-1.5006884665%, -0.3759048814%);
  }
  10% {
    transform: translate(1.5441235954%, -0.2881467588%);
  }
  12% {
    transform: translate(-0.4733396967%, 0.0727748597%);
  }
  14% {
    transform: translate(0.2351777481%, 0.2997592469%);
  }
  16% {
    transform: translate(0.737911665%, -0.2415944181%);
  }
  18% {
    transform: translate(-0.1061145884%, 0.0957500504%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-1.7891299796%, 0.4392313308%);
  }
  2% {
    transform: translate(-0.9446011809%, -0.1549882984%);
  }
  4% {
    transform: translate(-0.3169153027%, -0.3723131328%);
  }
  6% {
    transform: translate(0.4033469313%, -0.0728749241%);
  }
  8% {
    transform: translate(0.9478956612%, 0.4430155906%);
  }
  10% {
    transform: translate(1.6984952119%, -0.3988976459%);
  }
  12% {
    transform: translate(-1.821355823%, 0.4930218368%);
  }
  14% {
    transform: translate(-1.6139555314%, 0.2867466434%);
  }
  16% {
    transform: translate(1.5511103619%, -0.0942086811%);
  }
  18% {
    transform: translate(-1.3492595311%, 0.0294260726%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-0.4670869009%, -0.3284913147%);
  }
  2% {
    transform: translate(-1.5624068566%, 0.3023960565%);
  }
  4% {
    transform: translate(0.1494681108%, -0.1133552613%);
  }
  6% {
    transform: translate(-1.3320666517%, -0.3451259807%);
  }
  8% {
    transform: translate(-1.4548296034%, -0.0952016847%);
  }
  10% {
    transform: translate(-1.6150634924%, -0.1644788781%);
  }
  12% {
    transform: translate(0.3393186795%, -0.1297375417%);
  }
  14% {
    transform: translate(-1.7432432863%, -0.3409089567%);
  }
  16% {
    transform: translate(-1.1394939129%, -0.1688145048%);
  }
  18% {
    transform: translate(0.3117580119%, -0.4904234728%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}

.glitchText {
  color: white;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(35px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 79px, 0);
  }
  10% {
    clip: rect(31px, 9999px, 91px, 0);
  }
  15% {
    clip: rect(1px, 9999px, 44px, 0);
  }
  20% {
    clip: rect(72px, 9999px, 13px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 48px, 0);
  }
  30% {
    clip: rect(44px, 9999px, 11px, 0);
  }
  35% {
    clip: rect(23px, 9999px, 75px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(17px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(45px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(88px, 9999px, 58px, 0);
  }
  60% {
    clip: rect(53px, 9999px, 78px, 0);
  }
  65% {
    clip: rect(92px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(4px, 9999px, 86px, 0);
  }
  75% {
    clip: rect(65px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 49px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 65px, 0);
  }
  90% {
    clip: rect(67px, 9999px, 78px, 0);
  }
  95% {
    clip: rect(41px, 9999px, 89px, 0);
  }
  100% {
    clip: rect(61px, 9999px, 63px, 0);
  }
}
.glitchText:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(74px, 9999px, 72px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 21px, 0);
  }
  10% {
    clip: rect(7px, 9999px, 94px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 80px, 0);
  }
  20% {
    clip: rect(7px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(58px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(22px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(54px, 9999px, 4px, 0);
  }
  40% {
    clip: rect(25px, 9999px, 32px, 0);
  }
  45% {
    clip: rect(26px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(13px, 9999px, 48px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 56px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 100px, 0);
  }
  80% {
    clip: rect(18px, 9999px, 4px, 0);
  }
  85% {
    clip: rect(25px, 9999px, 48px, 0);
  }
  90% {
    clip: rect(69px, 9999px, 29px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(16px, 9999px, 40px, 0);
  }
}
.glitchText:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitchTextLoad {
  color: rgb(175, 175, 175);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  font-family: "DotGothic16", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

@keyframes noise-anim {
  0% {
    clip: rect(59px, 9999px, 51px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 9px, 0);
  }
  10% {
    clip: rect(37px, 9999px, 50px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 60px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 18px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(32px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(99px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(76px, 9999px, 43px, 0);
  }
  70% {
    clip: rect(76px, 9999px, 53px, 0);
  }
  75% {
    clip: rect(58px, 9999px, 65px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 69px, 0);
  }
  85% {
    clip: rect(26px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(34px, 9999px, 16px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 71px, 0);
  }
}
.glitchTextLoad:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: 175, 175, 175;
  background-color: #323133;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(20px, 9999px, 67px, 0);
  }
  5% {
    clip: rect(91px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 29px, 0);
  }
  15% {
    clip: rect(84px, 9999px, 77px, 0);
  }
  20% {
    clip: rect(42px, 9999px, 42px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 91px, 0);
  }
  30% {
    clip: rect(72px, 9999px, 45px, 0);
  }
  35% {
    clip: rect(53px, 9999px, 21px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 37px, 0);
  }
  45% {
    clip: rect(48px, 9999px, 4px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 38px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 39px, 0);
  }
  60% {
    clip: rect(98px, 9999px, 74px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 45px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(18px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(63px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 59px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(70px, 9999px, 11px, 0);
  }
}
.glitchTextLoad:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: 175, 175, 175;
  background-color: #323133;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 25px;
  }
}
.swiper {
  width: 90%;
  max-height: 500px;
}
@media (max-width: 800px) {
  .swiper {
    flex-wrap: wrap;
    aspect-ratio: 16/8;
  }
}
.swiper .swiper-slide {
  width: 100%;
  border: solid 1px rgb(236, 12, 94);
  position: relative;
}
.swiper .swiper-slide p {
  position: absolute;
  bottom: 17px;
  left: 0%;
  color: rgb(236, 12, 94);
  font-size: 6rem;
  font-weight: bold;
  font-family: "kalibers";
}
@media (max-width: 800px) {
  .swiper .swiper-slide p {
    font-size: 5.5rem;
    bottom: 15px;
  }
}
@media (max-width: 600px) {
  .swiper .swiper-slide p {
    font-size: 3.2rem;
    bottom: 3px;
  }
}
@media (max-width: 375px) {
  .swiper .swiper-slide p {
    font-size: 2.6rem;
    bottom: 0px;
  }
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper.gallery {
  width: 30%;
}
@media (max-width: 800px) {
  .swiper.gallery {
    width: 90%;
    max-height: 200px;
  }
}
.swiper.gallery .swiper-slide {
  width: 100%;
  margin: 0 0 1rem 0;
}
@media (max-width: 800px) {
  .swiper.gallery .swiper-slide {
    max-width: 250px;
    max-height: 150px;
    margin: 0 5px;
  }
}
@media (max-width: 400px) {
  .swiper.gallery .swiper-slide {
    max-width: 250px;
    max-height: 100px;
    margin: 0 5px;
  }
}
.swiper.gallery .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.yourName {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.yourName p {
  color: white;
}
.yourName input {
  background-color: white;
  width: 10rem;
}
.yourName button {
  background-color: white;
}

.close {
  display: none;
}

.button {
  padding: 0.5rem 2rem;
  color: black;
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5rem auto;
  background: linear-gradient(135deg, transparent 0px, rgb(236, 12, 94) 0) top left, linear-gradient(-135deg, transparent 10px, rgb(236, 12, 94) 0) top right, linear-gradient(-45deg, transparent 0px, rgb(236, 12, 94) 0) bottom right, linear-gradient(45deg, transparent 10px, rgb(236, 12, 94) 0) bottom left;
  background-size: 51% 50%;
  background-repeat: no-repeat;
}
.button .all {
  display: flex;
  justify-content: center;
  width: 100%;
}

.worksBox {
  display: grid;
  grid-template-rows: 0fr;
  transition: 500ms grid-template-rows ease;
}
.worksBox .hidden {
  overflow: hidden;
}

.open {
  grid-template-rows: 1fr;
}

@keyframes open {
  0% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
.footerBox {
  width: 100%;
  height: 20vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monikaAccess {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 100;
}
.monikaAccess .monikaBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.monikaAccess .monikaBox .hi {
  color: white;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.monikaAccess .monikaBox .moniIcon {
  width: 8rem;
  height: auto;
}
.monikaAccess .monikaBox .moniIcon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.monikaSeeYou {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 100;
}
.monikaSeeYou .monikaBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.monikaSeeYou .monikaBox .seeYou {
  color: white;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.monikaSeeYou .monikaBox .moniIcon {
  width: 8rem;
  height: auto;
}
.monikaSeeYou .monikaBox .moniIcon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.justMonika {
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.close {
  display: none;
}

#monikaModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
#monikaModal .modalText {
  margin-bottom: 1rem;
}

#return {
  display: flex;
  justify-content: center;
}

.returnToMonika {
  display: none;
  background-color: white;
  color: black;
}

.again {
  display: block;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
.bannerBox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.bannerBox .bannerItem {
  width: 30%;
}

.contactSec {
  display: flex;
  flex-flow: column;
  padding: 4rem 0;
  /* margin: 0 auto; */
}
.contactSec .contactBox {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 600px) {
  .contactSec .contactBox {
    flex-wrap: wrap;
  }
}
.contactSec .contactBox .twitter {
  width: 100%;
  height: 500px;
}
@media (max-width: 600px) {
  .contactSec .contactBox .twitter {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
}
.contactSec .contactBox .twitter iframe {
  max-width: 100%;
  height: 100%;
}
.contactSec .contactBox .form {
  width: 100%;
  height: 500px;
}
.contactSec .contactBox .form iframe {
  width: 100%;
  height: 100%;
}

.siteToggleBar {
  width: 100%;
  background-color: #333;
  color: rgb(236, 12, 94);
  text-align: right;
  cursor: pointer;
  border-top: 2px solid rgb(236, 12, 94);
  position: fixed;
  padding: 1rem 4rem;
  bottom: 0;
  z-index: 100;
}
.siteToggleBar .barBox {
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}
.siteToggleBar .barBox .returnIcon {
  max-width: 5%;
}
.siteToggleBar .barBox p {
  margin: initial;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.siteToggleBar .barBox p strong {
  font-weight: bolder;
}

.toggleButton {
  display: none;
}

#drawerMenu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#drawerMenu li {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#drawerMenu a {
  display: block;
  padding: 1rem; /* マウスが反応する範囲を少し広げている*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

/* アンカーリンクにマウスが乗ると、他のアンカーリンクが少し薄くなる指定 */
#drawerMenu ul:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

@media (max-width: 800px) { /* メディアクエリの値はお好みで */
  .toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block; /* display:none;を解除するために入れている */
    background: var(--drawerColor);
    border-radius: 5px;
    z-index: 100;
  }
  .toggleButton::after {
    content: "MENU";
    position: absolute;
    bottom: -1rem;
    font-size: 0.725rem;
    font-weight: bold;
    color: var(--drawerColor);
  }
  .toggleButton span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: var(--barColor);
    border-radius: 5px;
    transition: all 0.2s linear;
  }
  .toggleButton span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
  }
  .toggleButton span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
  }
  .toggleButton span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
  }
  .close span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .close span:nth-of-type(2) {
    transform: scale(0);
  }
  .close span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
  }
  #drawerMenu {
    position: fixed;
    height: 100%;
    top: 0;
    right: -240px;
    transition: all 0.3s linear;
  }
  #drawerMenu.open {
    right: 0;
    width: 100%;
    height: 100%;
  }
  #drawerMenu ul {
    display: block;
    width: 100%;
    height: 100%;
    padding: 80px 20px 20px 20px;
    background: rgb(236, 12, 94);
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    border-radius: 0 0 0 10px;
  }
  #drawerMenu li {
    width: 100%;
    height: 100%;
  }
  #drawerMenu li a {
    color: black;
  }
} /* width <= 800px */
/* ページ全体のスタイル */
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.5rem;
  color: rgb(236, 12, 94);
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "kalibers";
  src: url("../font/kalibers.ttf") format("truetype");
}
body {
  font-family: "kalibers";
  background-color: black;
  color: white;
}

/* ヘッダースタイル */
/* header {
    background-color: #111;
    text-align: center;
    padding: 20px;
} */
.headerWrap {
  max-width: 1900px;
}

.headerBox {
  background-color: rgba(0, 0, 0, 0.3);
  /* 透明度を調整 */
  padding: 50px;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
  /* 動画の上に配置 */
}

.headerBoxSc {
  background-color: rgb(236, 12, 94);
}
.headerBoxSc a {
  color: black;
}

header h1 {
  font-size: 36px;
}

/* ナビゲーションスタイル */
/* nav {
    background-color: #000;
    padding: 10px 0;
} */
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/* セクションスタイル */
.titleBox p {
  color: rgba(236, 12, 94, 0.307);
}
.titleBox h2::before {
  content: "-->";
  position: relative;
  bottom: 6px;
  font-size: 1rem;
  font-family: "Dela Gothic One";
}
.titleBox .caret {
  animation: cursorBlink 0.5s linear infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes cursorBlink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mainWrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10rem 1rem;
}

.aboutSec {
  gap: 2rem;
  background-image: url(../images/backGround.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 10rem 5rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 834px) {
  .aboutSec {
    background-image: url(../images/back.png);
    padding: 10rem 2.5rem;
    border-top: solid 1px rgb(236, 12, 94);
    border-bottom: solid 1px rgb(236, 12, 94);
  }
}
@media (max-width: 600px) {
  .aboutSec {
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 555px) {
  .aboutSec {
    border-bottom: none;
    border-left: solid 1px rgb(236, 12, 94);
    border-right: solid 1px rgb(236, 12, 94);
  }
}
@media (max-width: 490px) {
  .aboutSec {
    padding: 10rem 1rem;
  }
}

.aboutText {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
}

.aboutText {
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
.aboutText p,
.aboutText h3 {
  padding-bottom: 1rem;
}
.aboutText .skillBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.aboutText .skillBox p {
  font-size: 3rem;
  padding-bottom: 0;
}

.aboutImg {
  max-width: 300px;
  max-height: 300px;
  height: 100%;
  aspect-ratio: 1/1;
}

.aboutImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

section h2 {
  margin-bottom: 20px;
}

#work {
  padding: 4rem 0;
}

.mainVisual {
  aspect-ratio: 16/4;
  margin: 0 auto;
  /* margin: 0 auto; */
  /* border: solid #fff; */
}

.mainVisual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15%;
     object-position: 15%;
}

.movieWrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: table;
  z-index: -2;
}

.movieWrap::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}

.movieWrap video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100vh;
}

.name {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}

.name h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 2rem;
  white-space: nowrap;
  /* 文字が折り返されないようにする */
}
@media (max-width: 1050px) {
  .name h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 850px) {
  .name h1 {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .name h1 {
    font-size: 4rem;
  }
}
@media (max-width: 390px) {
  .name h1 {
    font-size: 3rem;
  }
}

.name h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  letter-spacing: 1rem;
}
@media (max-width: 1050px) {
  .name h2 {
    font-size: 2rem;
  }
}
@media (max-width: 850px) {
  .name h2 {
    font-size: 3rem;
  }
}

.portfolioGrid {
  width: 100%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
}

.portfolioGrid .p01 {
  grid-row: 1/3;
  grid-column: 1/3;
  overflow: hidden;
}

.portfolioGrid .p02 {
  grid-row: 1/3;
  grid-column: 3/4;
  overflow: hidden;
}

.portfolioGrid .p03 {
  grid-row: 1/2;
  grid-column: 4/5;
}

.portfolioGrid .p05 {
  grid-row: 2/3;
  grid-column: 3/4;
  overflow: hidden;
}

.portfolioGrid .p06 {
  grid-row: 2/3;
  grid-column: 4/5;
  overflow: hidden;
}

.portfolioGrid .p07 {
  grid-row: 3/5;
  grid-column: 1/3;
  overflow: hidden;
}

.portfolioGrid .p08 {
  grid-row: 3/4;
  grid-column: 3/4;
  overflow: hidden;
}

.portfolioGrid .p09 {
  grid-row: 3/5;
  grid-column: 4/5;
  overflow: hidden;
}

.portfolioGrid .p01 img,
.portfolioGrid .p02 img,
.portfolioGrid .p03 img,
.portfolioGrid .p04 img,
.portfolioGrid .p05 img,
.portfolioGrid .p06 img,
.portfolioGrid .p07 img,
.portfolioGrid .p08 img,
.portfolioGrid .p09 img,
.portfolioGrid .p10 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.workSwip {
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 800px) {
  .workSwip {
    flex-wrap: wrap;
  }
}

.icon-rectangle::before {
  font-family: "Dela Gothic One";
  position: relative;
  bottom: 3px;
  left: 6px;
  content: "〼";
  font-size: 1.5rem;
  color: rgb(236, 12, 94);
  text-shadow: rgba(198, 14, 77, 0.9) 0px 0.03em 0.5em, rgba(0, 0, 0, 0.3) 0px 0.202532em 0.139241em;
}

.none {
  display: none;
}/*# sourceMappingURL=style.css.map */