@charset "utf-8";

/* h1,p{
    color: white;
    text-align: left;
} */

/* h1{
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.5rem;
} */


/* header{
    padding-top: 7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/202309102236.jpg') top right no-repeat; */
/* background-size: cover;
    text-align: right; */
/* } */
/* .headerUnder { */
/* border: 1px solid black; */
/* display: flex;
    justify-content: center; */
/* float: right; */
/* max-width: 100%; 
} */


/* .item{
    flex: 1;
    min-width: 600px; /* 最小幅 */
/* max-width: 600px; 最大幅
} */
/* .explanation{
    /* align-self: center; */
/* margin: 0px 50px;
} */

/* ページ全体のスタイル */

h1 {
    color: white;
}

h2 {
    font-size: 32px;
}

h1,
h2 {
    letter-spacing: 0.5rem;
}

p {
    line-height: 1.5rem;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Dela Gothic One', sans-serif;
}

/* ヘッダースタイル */
/* header {
    background-color: #111;
    text-align: center;
    padding: 20px;
} */

.headerWrap {
    max-width: 1900px;
}

.headerBox {
    background-color: rgba(0, 0, 0, 0.3);
    /* 透明度を調整 */
    padding: 20px;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 2;
    /* 動画の上に配置 */
}

header h1 {
    font-size: 36px;
}

/* ナビゲーションスタイル */
/* nav {
    background-color: #000;
    padding: 10px 0;
} */

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.2rem;
}

/* セクションスタイル */
.mainWrap {
    max-width: 1900px;
    width: 80%;
    margin: 0 auto;
}

.aboutSec {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.aboutText {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.aboutText p {
    width: 32rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}

#about h2 {
    text-align: center;
}



.aboutImg {
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    aspect-ratio: 1/1;

}

.aboutImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: left;
}

section {
    padding: 40px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#portfolio h2 {
    text-align: center;
}

.mainVisual {

    aspect-ratio: 16/4;
    margin: 0 auto;
    /* margin: 0 auto; */
    /* border: solid #fff; */
}

.mainVisual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15%;
}

.movieWrap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.movieWrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}

.movieWrap video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100vh;
}

.name {
    width: 80%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.name h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: white;
    letter-spacing: 2rem;
    white-space: nowrap; /* 文字が折り返されないようにする */
}




.name h2 {
    text-align: center;
    font-size: 32px;
    color: white;

    letter-spacing: 1rem;

}

.portfolioGrid {
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
}

.portfolioGrid .p01 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.portfolioGrid .p02 {
    grid-row: 1/3;
    grid-column: 3/4;
}

.portfolioGrid .p03 {
    grid-row: 1/2;
    grid-column: 4/5;
}

.portfolioGrid .p05 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.portfolioGrid .p06 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.portfolioGrid .p07 {
    grid-row: 3/5;
    grid-column: 1/3;
}

.portfolioGrid .p08 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.portfolioGrid .p09 {
    grid-row: 3/5;
    grid-column: 4/5;
}


.portfolioGrid .p01 img,
.portfolioGrid .p02 img,
.portfolioGrid .p03 img,
.portfolioGrid .p04 img,
.portfolioGrid .p05 img,
.portfolioGrid .p06 img,
.portfolioGrid .p07 img,
.portfolioGrid .p08 img,
.portfolioGrid .p09 img,
.portfolioGrid .p10 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.contactSec{
    display: flex;
    flex-flow: column;
    text-align: center;
    /* margin: 0 auto; */
}

.form{
    width: 50%;
    height: 50vh;
    aspect-ratio: 4/6;
    margin: 0 auto;
}

.form iframe{
    width: 100%;
    height: 100%;
    
}

