.contactSec {
    display: flex;
    flex-flow: column;

    /* margin: 0 auto; */
    .contactBox {
        display: flex;
        margin: 0 auto;
        width: 80%;
        gap: 2rem;

        @media (max-width: 600px){
            flex-wrap: wrap;
        }

        .twitter {
            max-width: 500px;
            width: 100%;
            height: 500px;

            @media (max-width: 600px){
                flex-wrap: wrap;
                margin-bottom: 1rem;
            }

            iframe {
                max-width: 100%;
                height: 100%;

            }
        }


        .form {
            max-width: 700px;
            width: 100%;
            height: 500px;

            iframe {
                width: 100%;
                height: 100%;

            }
        }

    }
}

#contact{
    padding-bottom: 164px
}