.bannerBox{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    
    .bannerItem{
        width: 30%;
    }
}

#work{
    .inner{
        div{
            &:nth-child(2)> {
                a{
                    width: calc(960/1920*100vw);
                    display: block;
                }
            }
        }
    }
}