@use "sass:math";

@function getvwsp($fontsize, $viewport: 750) {
  $rate: 100 / $viewport;
  @return $rate * $fontsize * 1vw;
}

@function getvwpc($fontsize, $viewport: 1920) {
  $rate: 100 / $viewport;
  @return $rate * $fontsize * 1vw;
}

@mixin vw($fontsize) {
  font-size: getvw($fontsize);
}

@mixin sp(){
  @media screen and (max-width: 750px) {
    @content;
  }
}