$mainColor: #00fe91;
$subColor: #317055;
$bgColor: #000c;
$txtColor: #fff;
$sundayColor: #ff0000;
$saturdayColor: #4169e1;

// math モジュール
@use "sass:math";
@use "sass:map";

// common/_index.scss を読み込む（mixin が使える）
@use 'mixin';